<% content_for :title, "Editing section" %>

<h1>Editing section</h1>

<%= render "form", section: @section %>

<br>

<div>
  <%= link_to "Back to sections", sections_path, class:"btn btn-primary btn-sm" %>
</div>
