<table class="table">
  <thead style="position: sticky; top: 0; background-color: rgb(146, 211, 232); z-index: 10;">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
   <% @area_types.each do |a|%>
    <tr>
      <td><%= a.id %></td>
      <td><%= a.name %></td>
      <td>
        <%= link_to "View", a, class:"btn btn-primary btn-sm" %> 
      </td>
    </tr>
   <% end %>
  </tbody>
</table>







