<% content_for :title, "Area types" %>

<div class="text-end mb-3">
  <%= link_to "New area type", new_area_type_path, class:"btn btn-success btn-sm" %>
</div

<div id="area_types">
 
    <%= render "area_types/area_type" %>
   
</div>


