<table class="table">
  <thead style="position: sticky; top: 0; background-color: rgb(146, 211, 232); z-index: 10;">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
    <tbody>
     <% @rooms.each do |r| %>
      <tr>
        <td><%= r.id %></td>
        <td><%= r.name %></td>
        <td><%= link_to "View", r,class:"btn btn-outline-primary btn-sm" %></td>
      </tr>
     <% end %>
    </tbody>
</table>



  